<body>
<h1>Stupid Coaching</h1>
<div id= 'user_answer'>
<p><%= @user_answer %></p>
<p class='you'>-You</p>
</div>

<div id= 'coach_answer'>
<p><%= @coach_answer %></p>
<p class='you'>-Your coach</p>
</div>

<%= link_to '/ask' do %>
<div class="link">Ask a new question</div>
<%end%>

</body>
